.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #020817;
  color: white;
  padding: 15px 40px;
  border-bottom: 1px solid #1e293b;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
  font-weight: bold;
}

.logo img {
  width: 150px;
}

/* CENTER LINKS */
.nav-links {
  display: flex;
  gap: 30px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #cbd5f5;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: white;
}

/* RIGHT ICONS */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
}

.nav-icons svg {
  cursor: pointer;
}

/* CART BADGE */
.cart {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #a855f7;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}

/* MENU ICON (HIDDEN DESKTOP) */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* 🔥 RESPONSIVE */
@media (max-width: 768px) {

  .navbar {
    padding: 15px 20px;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .logo span {
    font-size: 20px;
  }
}